# Data (terlalu besar untuk Git)
data/raw/
data/processed/
tableau_data/

# Python
__pycache__/
*.pyc
*.pyo
.pytest_cache/

# MLflow
mlflow.db
mlruns/

# Environment
venv/
.venv/
*.env

# Jupyter
.ipynb_checkpoints/

# OS
.DS_Store
Thumbs.db